# Python cache
__pycache__/
*.py[cod]
*$py.class

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
